@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:regular);

:root{
/* Colors */
    --primary-main-bg: hsl(233, 47%, 7%);
    --color-card-bg: hsl(244, 38%, 16%);
    --color-accent: hsl(277,64%,61%);
    --color-main-heading: hsl(0,0%,100%);
    --color-text: hsla(0,0%,100%,0.75);
    --color-stat-heading: rgba(255, 255, 255, 0.794);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
body{
    background-color: var(--primary-main-bg);
    width: 100%;    
    height: 100vh;
    font-family: 'Lexend Deca',sans-serif;
    font-size:  15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* utility classes */
.uppercase{
    text-transform: uppercase;
}
.text{
    color: var(--color-text);
}

/* card syles goes here */
.card{
    background-color: var(--color-card-bg);
    border-radius: 20px;
    max-width: 509px;
    padding-bottom: 20px;
}
.image{
    background-color:rgb(53, 2, 85); 
}
img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    opacity: 0.5;
}
ul{
    list-style-type: none;
}
.main-content{
    padding: 20px;
}
.title{
    color: var(--color-main-heading);
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
}
.title span{
    color: var(--color-accent);
}
p{
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px;
}
.stats li{
    width: 90px;
    text-align: center;
    font-size: 0.8rem;
}
.stats li span{
    color: var(--color-stat-heading);
    font-size: 1.6rem;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}











